In [69]:
# imports

import pandas as pd

In [70]:
# read in the data files

portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [71]:
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [72]:
portfolio.isnull().sum()

reward        0
channels      0
difficulty    0
duration      0
offer_type    0
id            0
dtype: int64

In [73]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [74]:
profile.isnull().sum()

gender              2175
age                    0
id                     0
became_member_on       0
income              2175
dtype: int64

In [79]:
profileNulls = profile.loc[(profile.gender.isnull()) & (profile.income.isnull()) & (profile.age == 118)]
profileClean = profile.loc[(profile.gender.notnull()) & (profile.income.notnull()) & (profile.age != 118)]

print('Percentage of invalid profiles: %.2f' % (profileNulls.shape[0] / profile.shape[0] * 100))
print('Remaining profiles: %d' % profileClean.shape[0])

Percentage of invalid profiles: 12.79
Remaining profiles: 14825

In [76]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [77]:
transcript.isnull().sum()

person    0
event     0
value     0
time      0
dtype: int64

In [80]:
transcriptInvalidProfiles = transcript.loc[transcript.person.isin(profileNulls.id)]
transcriptClean = transcript.loc[transcript.person.isin(profileClean.id)]

print('Percentage of invalid profiles: %.2f' % (transcriptInvalidProfiles.shape[0] / transcript.shape[0] * 100))
print('Remaining profiles: %d' % transcriptClean.shape[0])

Percentage of invalid profiles: 11.02
Remaining profiles: 272762