# Machine Learning Engineer Capstone Project
## Starbucks Challenge
### by Mark-Danney Oonk

---

This notebook describes:
- The training and refinement of the model
- Justification of the model against the benchmark
- Discussion of outcomes and possible improvements

Running the code in this notebook results in:
- model/???.??? with the trained neural network that is able to make offer recommendations based on profile data

In [1]:
# imports

import joblib
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from scipy import stats

In [8]:
# load scaler and history

scaler = joblib.load('./model/scaler.gz')
SCALED_COLS = joblib.load('./model/SCALED_COLS')

history = pd.read_csv('./data/history.csv')
baselineData = pd.read_csv('./data/baselineData.csv')

display(history.head())
display(baselineData.head())

,time_received,time_viewed,reward,difficulty,duration,channels_email,channels_mobile,channels_social,channels_web,offer_type_bogo,...,offer_type_informational,time_completed,amount,age,income,gender_F,gender_M,gender_O,gender_U,account_age
0,0.000000,0.008475,0.5,0.25,0.571429,1,1,0,1,1.0,...,0.0,0.184874,0.089482,0.686747,0.777778,1.0,0.0,0.0,0.0,0.243006
1,0.291667,0.305085,0.0,0.00,0.000000,1,1,1,0,0.0,...,1.0,0.336134,0.222197,0.686747,0.777778,1.0,0.0,0.0,0.0,0.243006
2,0.708333,0.576271,1.0,0.50,0.571429,1,1,1,0,1.0,...,0.0,0.714286,0.097715,0.686747,0.777778,1.0,0.0,0.0,0.0,0.243006
3,0.000000,0.000000,0.5,0.25,0.285714,1,1,1,1,1.0,...,0.0,0.084034,0.093576,0.566265,0.255556,0.0,1.0,0.0,0.0,0.091607
4,0.583333,0.500000,0.2,0.50,0.571429,1,1,0,1,0.0,...,0.0,0.697479,0.070317,0.566265,0.255556,0.0,1.0,0.0,0.0,0.091607

,time_received,time_viewed,reward,difficulty,duration,channels_email,channels_mobile,channels_social,channels_web,offer_type_bogo,...,offer_type_informational,time_completed,amount,age,income,gender_F,gender_M,gender_O,gender_U,account_age
0,0.861111,0.468927,0.3,0.416667,0.619048,1.0,1.000000,0.666667,1.0,0.333333,...,0.0,0.708683,0.049412,0.180723,0.466667,0.0,1.0,0.0,0.0,0.252880
1,0.583333,0.466102,0.5,0.250000,0.285714,1.0,1.000000,1.000000,0.0,0.500000,...,0.5,0.403361,0.114945,0.493976,0.666667,1.0,0.0,0.0,0.0,0.479430
2,0.625000,0.395480,0.3,0.666667,1.000000,1.0,0.666667,0.666667,1.0,0.000000,...,0.0,0.683473,0.062939,0.096386,0.477778,1.0,0.0,0.0,0.0,0.219419
3,0.763889,0.000000,0.3,0.666667,0.714286,1.0,0.666667,0.000000,1.0,0.000000,...,0.0,0.000000,0.000000,0.012048,0.388889,1.0,0.0,0.0,0.0,0.392759
4,0.291667,0.000000,0.0,0.000000,0.142857,1.0,1.000000,0.000000,1.0,0.000000,...,1.0,0.369748,0.000000,0.445783,0.488889,1.0,0.0,0.0,0.0,0.043335